$vollkorn:  'Vollkorn SC', serif;
$barlow: 'Barlow', sans-serif;

//NOTE: GET YOUR FONTS WORKING

body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $vollkorn;
	@include font-size(1);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";
